.range-list-title {
    text-align: center;
    background-color: #1a5bb2;
    color: white;
    padding: 10px;
}

.range-list-body {
    padding: 10px;
    font-size: 14px;
}

.range-list-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.peak-name {
    cursor: pointer;

    &:link,
    &:visited {
        color: black;
        text-decoration: none;
    }

    &:hover {
        color: blue;
    }
}
