.carousel-container{
    margin: 20px;
    margin-left: 0;
 
}

.carousel-header {
    text-align: center;
    background-color:#1a5bb2;
    margin-left: 20px;
    color: white;
    padding: 5.5px;
    font-size: 25px;
    font-weight:lighter;
    margin-top:0
}

.carousel-body {
    margin-right:20px;
    margin-left: 40px;
    margin-top: 10px;
}

.today-weather {
    background: white;
    margin: 0px;
}

.tomorrow-weather {
    background: white;
}