.today-weather {
    padding-bottom: 25px;
    display: flex;
    justify-content: space-between;
}

.todays-weather-container {
    padding: 5px;
    color:#4a90e2;
    font-size: medium;
    padding-bottom: inherit;
    width: 450px;
    border-right: 1px solid #a6aab2;
    border-left: 1px solid #a6aab2;
    border-top: 1px solid #a6aab2;
    border-bottom: 1px solid #a6aab2;

}

.date {
    font-size: medium;
    margin-bottom:10px;
}

.icon-container {
    display: grid;
    grid-template-columns: 150px 200px;
    grid-row-gap: 20px;
    text-align: left;
    grid-column-gap: 80px;
    margin: auto;
    width:335px;
}

.react-icons {
    color: #4a90e2;
    width: 40px;
    height: 40px;
    margin-bottom: -20px;
} 