html,
body {
    font-family: HelveticaNeue, "Helvetica";
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: white;
}

.body-container {
    display:flex;
}

.main {
    display: flex;
    flex-direction: column;
    align-content:flex-start;
    width: 80vw;
}
