.header-container {
    display: flex;
    color: white;
    height: 360px;
    background: url("../../static/images/header.png");
    background-size: cover;
    background-position: center center;
}

.header {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.logo {
    justify-self: left;
    width: 70px;
    height: 70px;
    margin-top: 20px;
    margin-left: 10px;
}

.title {
    font-family: HelveticaNeue-Condensed Bold, "Helvetica Neue";
    font-size: 5vw;
    font-stretch: condensed;
    margin: 0;
}

.subtitle {
    font-family: HelveticaNeue, "Helvetica Neue";
    font-size: 2.5vw;
    margin: 0px;
    justify-self: center;
}
