.mountain-list-container {
    font-family: "HelveticaNeue", Helvetica;
    min-width: 280px;
    margin-top: 20px;
    margin-left:20px;
    height: 850px;
    overflow: hidden; 
    overflow-y: scroll;
}
